<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="header-content">
      <div class="user-info">
        <span class="user-greeting">Olá, <%= user.username %>!</span> <!-- Exibe o nome do usuário -->
      </div>
      <div class="logout">
        <a href="/logout">Logout</a> <!-- Link de logout -->
      </div>
      <title><%= dashboardTitle %></title>
    </div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Sharp" rel="stylesheet" />
    <script src="https://cdn.plot.ly/plotly-2.16.1.min.js"></script>
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <img src="images/logo.png" alt="" />
            <a href="/"><h2><%= name %></h2></a>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="/dashboard" class="active">
            <span class="material-symbols-sharp"> dashboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/actuators">
            <span class="material-symbols-sharp"> sensors </span>
            <h3>Actuators</h3>
          </a>
          <a href="/account">
            <span class="material-symbols-sharp"> person </span>
            <h3>Account</h3>
          </a>
        </div>
      </aside>
      <main>
        <h1><%= dashboardTitle %></h1>
        <div class="connection-status">
          <h3>Connection Status: <span class="status">Disconnected</span></h3>
        </div>
        <div class="tabs">
          <button id="tab-estufa" class="tab-button active">Estufa</button>
          <button id="tab-jardim" class="tab-button">Jardim</button>
        </div>
        <!-- Conteúdo Estufa -->
        <div id="content-estufa" class="tab-content">
          <div class="insights">
            <div class="temperature">
              <div class="middle">
                <div class="left">
                  <h3>Temperature</h3>
                  <h1 id="temperature"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> device_thermostat </span>
                </div>
              </div>
            </div>
            <div class="humidity">
              <div class="middle">
                <div class="left">
                  <h3>Humidity</h3>
                  <h1 id="humidity"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> humidity_percentage </span>
                </div>
              </div>
            </div>
            <div class="soil">
              <div class="middle">
                <div class="left">
                  <h3>Soil</h3>
                  <h1 id="soil"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> potted_plant </span>
                </div>
              </div>
            </div>
            <div class="luminosity">
              <div class="middle">
                <div class="left">
                  <h3>Luminosity</h3>
                  <h1 id="luminosity"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> light_mode </span>
                </div>
              </div>
            </div>
          </div>
          <div class="histories">
            <h2>Historical Charts</h2>
            <div class="history-charts">
              <div id="temperature-history" class="history-divs"></div>
              <div id="humidity-history" class="history-divs"></div>
              <div id="soil-history" class="history-divs"></div>
              <div id="luminosity-history" class="history-divs"></div>
            </div>
          </div>
        </div>
        <!-- Conteúdo Jardim -->
        <div id="content-jardim" class="tab-content hidden">
          <div class="insights">
            <div class="soil">
              <div class="middle">
                <div class="left">
                  <h3>Soil Humidity</h3>
                  <h1 id="jardim-soil-humidity"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> potted_plant </span>
                </div>
              </div>
            </div>
            <!-- <div class="actuator">
              <div class="middle">
                <div class="left">
                  <h3>Actuator Status</h3>
                  <h1 id="jardim-actuator-status"></h1>
                </div>
                <div class="icon">
                  <span class="material-symbols-sharp"> toggle_on </span>
                </div>
              </div>
            </div> -->
          </div>
          <div class="histories">
            <h2>Historical Charts</h2>
            <div class="history-charts">
              <div id="soil-garden-history" class="history-divs"></div>
            </div>
          </div>
        </div>
      </main>
      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>
          <div class="theme-toggler">
            <span class="material-symbols-sharp active"> light_mode </span>
            <span class="material-symbols-sharp"> dark_mode </span>
          </div>
        </div>
        <div class="gauge-charts">
          <h2>Gauge Charts</h2>
          <div class="item">
            <div id="temperature-gauge"></div>
          </div>
          <div class="item">
            <div id="humidity-gauge"></div>
          </div>
          <div class="item">
            <div id="soil-gauge"></div>
          </div>
          <div class="item">
            <div id="luminosity-gauge"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="module" src="./index.js"></script>
    <script type="module" src="./mqttService.js"></script>
    <script>
      document.getElementById('tab-estufa').addEventListener('click', () => switchTab('estufa'));
      document.getElementById('tab-jardim').addEventListener('click', () => switchTab('jardim'));

      function switchTab(tab) {
        const estufaContent = document.getElementById('content-estufa');
        const jardimContent = document.getElementById('content-jardim');
        const estufaButton = document.getElementById('tab-estufa');
        const jardimButton = document.getElementById('tab-jardim');

        if (tab === 'estufa') {
          estufaContent.classList.remove('hidden');
          jardimContent.classList.add('hidden');
          estufaButton.classList.add('active');
          jardimButton.classList.remove('active');
        } else if (tab === 'jardim') {
          estufaContent.classList.add('hidden');
          jardimContent.classList.remove('hidden');
          estufaButton.classList.remove('active');
          jardimButton.classList.add('active');
        }
      }
    </script>
  </body>
</html>
